.tile h3 {
    font-size: 4.5vw;
}

.myiconresize {
    font-size: 14vw;
}

@media (min-width: 768px) {
    .tile h3 {
        font-size: 2.2vw;
    }
    .myiconresize {
        font-size: 8vw;
    }
}

.dynamicTile .col-sm-2.col-xs-4{
    padding:2px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:2px;
}

body>.container-fluid{
    background-color: transparent;
}

#tile1{
    /*
    CUCINA (non cambiare sennò non va puù javascript)
     */
    background: rgb(0,172,238);
}

#bagno{
    background-color: cadetblue;
}

#livingroom{
    background: rgb(175,26,63);
}

#garden{
    background: rgb(62,157,215);
}

#bedroom{
    background: #72d1ad;
}

#illumination{
    background: rgb(157, 209, 94);
}

#studio{
    background: rgb(200, 154, 47);
}

.tile{
    overflow: hidden;
    cursor: pointer;
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI, sans-serif;
    font-weight: lighter;
}



