form.editaddress input{
    margin: auto 5px;
    border: 1px solid darkgrey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

form.editaddress input:focus{
    border: 1px solid #292929;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

form.editaddress select{
    border: 1px solid darkgrey;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
}
form.editaddress select:focus{
    border: 1px solid #292929;
}

.title.title-up {
    margin: 5px auto;
}
.address-name{
    margin-top: 0;
}

@media (min-width: 768px) {
    .address-buttons {
        padding-top: 45px;
    }
}

.addaddressbutton{
    margin-top: 20px;
}

.backbutton{
    margin-left: 5px;
}

.list-group{
    margin-bottom: 5px;
}
.list-group-item{
    margin-top: 5px;
}
body>.container{
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.list-group-item {
    border-radius: 8px !important;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}