.links a:last-child{
    margin-left: 7px;
    margin-right: 5px;
}

.login_singup_link {
    display: inline-block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.notif-title{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
/*
li.notificationBlock { border-bottom: 1px solid #d1d1d1; }
li.notificationBlock:last-child { border-bottom: none; }*/

.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn {
    font-size: 14px;
}

@media (min-width: 1200px){
    .nav .form-control{
        min-width: 350px;
    }
}

@media (max-width: 1024px){
    .nav .form-control{
        min-width: 225px;
    }
}

.navbar-brand img {
    float: left;
}

#headertitle{
    float: left;
    padding-left:15px;
    padding-top: 2px;
}

#popup {
    top: 61px;
    margin-top: 8px;
    position:fixed;
    z-index: 999;
    right: 10px;
    opacity: 0;
}

.ui-front{
    z-index: 10000 !important;
}
.ui-menu {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ui-menu li:last-child .ui-menu-item-wrapper {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#name, #surname {
    display: initial;
}

#name:first-letter, #surname:first-letter {
    text-transform: uppercase;
}

.header-notification .badge{
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 0.750em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid currentcolor;
    margin-bottom: 5px;
    border-radius: 1rem;
}

.badge-success {
    border-color: #18ce0f;
    color: #18ce0f;
}

.badge-warning {
    border-color: #FFB236;
    color: #FFB236;
}

.badge-danger {
    border-color: #FF3636;
    color: #FF3636;
}

.searchWrapperClass {
    display: inline-block;
    margin-bottom:5px;
    padding-right:10px;
    padding-left:10px;
    width: 100%;
}

.searchWrapperClass>.input-group{
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #searchFullWidth { display: none; }
    .mobilecenter {
        text-align: center;
    }


}
@media only screen and (min-width: 768px) {
    #searchWrapper { display: none; }
}