.input_prezzo {
    border: 1px solid #95a5a6 !important;
    width: 90% !important;
    color: #2c3e50 !important;
    font-size: 10px !important;
    height: 20px !important;
    text-align:center !important;
    padding: 0 !important;
    margin-top:5px !important;
}

.vendormodal .card-signup {
    max-width: 450px !important;
    margin: 0 auto 0;
}

.vendormodal .valign {
    line-height:15px;
}

.vendormodal .float-right {
    float:right;
}

.vendormodal .mod {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.vendormodal .mod-close {
    color: #fff !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
}

.vendormodal .header-primary {
    padding-bottom:0 !important;
}

.vendormodal .subtitolo {
    margin-top: -10px !important;
    font-size: 13px;
}

.vendormodal .content-modal-vendors {
    display: inline-block;
    text-align: left;
    line-height: 8px;
    margin-top: 15px;
    width:100%;
}

.banner {
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 2px 16px;
}

.separated {
    margin-top: 20px;
}

.margins {
    margin-top: 20px;
    margin-bottom: -25px;
}

.rating_star {
    color: #9ecc24;
}

.price {
    margin-top: 10px;
    font-size: 35px;
}

.vcenter {
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: #ffffff;
    line-height: 1;

    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

body {
    background-color: #F3F3F4 !important;
}

.resetcolor{
    color: #2c3e50;
}
.resetcolor:hover{
    color: #2c3e50;
}
.resetcolor:focus{
    color: #2c3e50;
}

li.list-group-item img {
    margin: auto;
}

.container.invisible-container {
    margin-top: 20px;
    background-color: transparent;
    /* padding: 0; */
}

@media (min-width: 767px) {
    .container.invisible-container {
        margin-top: 20px;
        background-color: transparent;
        padding: 0;
    }
}


.sidebar li{
    border: none;
}

.search li.product:not(:first-child){
    margin-top: 10px;
}

.search li.product{
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
    box-shadow: 0 1px 1px rgba(0,0,0,.15);

}

.rating-field{
    margin-top: 25px;
    margin-bottom: 25px;
}

.rating-field i{
    color: #2c3e50;
}
.search .badge{
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 0.300em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid currentcolor;
    margin-bottom: 5px;
    border-radius: 1rem;
}
.badge-discount {
    border-color: #FFB236;
    color: #FFB236;
}
.list-group-item-heading{
    margin-top: 5px;
    margin-bottom: 10px;
}

#PriceButton{
    padding: 3px 15px;
    height: 20px;
    font-size: 12px;
    border-radius: 4px;
}

.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}